<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user-view-layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/user-view.js"></script>


</head>
<body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">WIKIMAPS</a>

        <ul class="nav">

            <li class="nav-item">
              <a class="nav-link active" href="/maps/new">New Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/maps">Back to List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
            </li>

        </ul>
      </nav>
    </header>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-6">Hello <%=favorites[0].username%></h1>
      </div>
    </div>

<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5 class="mb-0">My Favorited Maps:</h5>
      </a>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
       <div class="d-flex justify-content-center">
            <ul id="favorite-list" class="list-group">
              <% for(var i = 0; i < favorites.length; i++) {%>
                <li class="list-group-item">
                  <a href="/maps/<%= favorites[i].map_id %>">
                    <p class="title"><%= favorites[i].name %></p>
                    <p class="description">
                      <%= favorites[i].description%>
                    </p>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5 class="mb-0">Maps I've Contributed To:</h5>
      </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-body">
       <div class="d-flex justify-content-center">
            <ul id="favorite-list" class="list-group">
              <% for(var i = 0; i < contributions.length; i++) {%>
                <li class="list-group-item">
                  <a href="/maps/<%= contributions[i].map_id %>">
                    <p class="title"><%= contributions[i].name %></p>
                    <p class="description">
                      <%= contributions[i].description%>
                    </p>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
